@font-face {
    font-family: 'Mehr Nastaliq Web';
    src: url('MehrNastaliqWeb.eot');
    src: url('MehrNastaliqWeb.eot?#iefix') format('embedded-opentype'),
        url('MehrNastaliqWeb.woff2') format('woff2'),
        url('MehrNastaliqWeb.woff') format('woff'),
        url('MehrNastaliqWeb.ttf') format('truetype'),
        url('MehrNastaliqWeb.svg#MehrNastaliqWeb') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

