@font-face {
  font-family: 'Nafees Nastaleeq';
  src: url("../fonts/Nafees-Nastaleeq.eot");
  src: url("../fonts/Nafees-Nastaleeq.eot") format("embedded-opentype"), 
       url("../fonts/Nafees-Nastaleeq.woff") format("woff"), 
       url("../fonts/Nafees-Nastaleeq.ttf") format("truetype"), 
       url("../fonts/Nafees-Nastaleeq.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}