@font-face {
  font-family: 'Nafees Nastaleeq';
  src: url("../fonts/Nafees-Nastaleeq.eot");
  src: url("../fonts/Nafees-Nastaleeq.eot") format("embedded-opentype"), 
       url("../fonts/Nafees-Nastaleeq.woff") format("woff"), 
       url("../fonts/Nafees-Nastaleeq.ttf") format("truetype"), 
       url("../fonts/Nafees-Nastaleeq.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}