@font-face {
  font-family: 'Mehr Nastaleeq';
  src: url("./Mehr-Nastaleeq-Web.eot");
  src: url("./Mehr-Nastaleeq-Web.eot") format("embedded-opentype"), 
       url("./Mehr-Nastaleeq-Web.woff") format("woff"), 
       url("./Mehr-Nastaleeq-Web.ttf") format("truetype"), 
       url("./Mehr-Nastaleeq-Web.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}