@font-face {
  font-family: 'FajerNooriNastalique';
  src: url("./Fajer-Noori-Nastalique.eot");
  src: url("./Fajer-Noori-Nastalique.eot") format("embedded-opentype"), 
       url("./Fajer-Noori-Nastalique.woff") format("woff"), 
       url("./Fajer-Noori-Nastalique.ttf") format("truetype"), 
       url("./Fajer-Noori-Nastalique.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}