@font-face {
  font-family: 'Nafees Web Naskh';
  src: url("../fonts/nafeeswebnaskh/Nafees-Web-Naskh.eot");
  src: url("../fonts/nafeeswebnaskh/Nafees-Web-Naskh.eot") format("embedded-opentype"), 
  url("../fonts/nafeeswebnaskh/Nafees-Web-Naskh.woff") format("woff"), 
  url("../fonts/nafeeswebnaskh/Nafees-Web-Naskh.ttf") format("truetype"), 
  url("../fonts/nafeeswebnaskh/Nafees-Web-Naskh.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}