@font-face {
  font-family: 'Nafees Web Naskh';
  src: url("../fonts/Nafees-Web-Naskh.eot");
  src: url("../fonts/Nafees-Web-Naskh.eot") format("embedded-opentype"), 
       url("../fonts/Nafees-Web-Naskh.woff") format("woff"), 
       url("../fonts/Nafees-Web-Naskh.ttf") format("truetype"), 
       url("../fonts/Nafees-Web-Naskh.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF; 
}