@font-face {
  font-family: 'Pak Nastaleeq';
  src: url("./Pak-Nastaleeq.eot");
  src: url("./Pak-Nastaleeq.eot") format("embedded-opentype"), 
       url("./Pak-Nastaleeq.woff") format("woff"), 
       url("./Pak-Nastaleeq.ttf") format("truetype"), 
       url("./Pak-Nastaleeq.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;