@font-face {
  font-family: 'Fajer Noori Nastalique';
  src: url("../fonts/Fajer-Noori-Nastalique.eot");
  src: url("../fonts/Fajer-Noori-Nastalique.eot") format("embedded-opentype"), 
       url("../fonts/Fajer-Noori-Nastalique.woff") format("woff"), 
       url("../fonts/Fajer-Noori-Nastalique.ttf") format("truetype"), 
       url("../fonts/Fajer-Noori-Nastalique.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}