@font-face {
  font-family: 'Fajer Noori Nastalique';
  src: url("../fonts/Fajer-Noori-Nastalique.eot");
  src: url("../fonts/Fajer-Noori-Nastalique.eot") format("embedded-opentype"), 
       url("../fonts/Fajer-Noori-Nastalique.woff") format("woff"), 
       url("../fonts/Fajer-Noori-Nastalique.ttf") format("truetype"), 
       url("../fonts/Fajer-Noori-Nastalique.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}